<div class="banner my-banner row" style="background-image: url(header.jpg);">
  <div class="rounded col-4 offset-2 text-dark-overlay p-5 shadow">
    <h1>Commun<span class="black">EAT</span>y</h1>
    <p>Discover what your community has to offer!</p>
    <%= link_to("Discover neighborhood chefs!", meals_path, class: "mt-3 btn btn-dark") %>
  </div>
</div>

<!-- <div class="container my-4">
  <div class="row">
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
  </div>
</div> -->
