<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <h1 class="pt-2">Meals</h1>
    </div>
  </div>
  <div class="row mx-4">
    <% @meals.each do |meal| %>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <%= link_to meal_path(meal) do %>
          <div class="card my-3">
            <img src=" <%= rails_blob_url(meal.images[0]) %>" alt="" style="object-fit: cover; height: 30vh;">
            <div class="card-body text-center">
              <p> <%= "#{meal.title}" %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>