.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon i {
  color: white;
  font-size: 24px;
  margin-left: 30px;
  background-color: $green;
  padding: 10px 13px;
  border-radius: 5%;
}
