#host_info {
  color: green;
}

.img_show_panel {
  display: inline-block;
  display: flex;
}

// .carousel {
//   height: 60vh;
// }

.carousel-inner img {
  height: 100%;
  width: 100%;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.colorback {
  background-color: rgb(244, 244, 244);
}



// // .yo {
// //   background-size: 100% 100%;
// //   background-position: 50% 50%;
// //   width: 100%;
// //   height: 100%;
// // }

// // .img_small {
// //   width: 30%;
// // }
